* {
    margin: 0px;
}

body {
    width: 800px;
    height: 500px;
    margin: auto;
    margin-top: 2%;
}

.title {
    font-size: 3em;
    text-align: center;
    margin-bottom: 10%;
    text-shadow: 5px 5px 5px silver;
}

#colorWheel {
    float: left;
    width: 300px;
    height: 400px;
}

#picker {
    border: 1px solid black;
    border-radius: 50%;
}

#pointer {
    margin-left: 140px;
    border: 10px solid transparent;
    border-top: none;
    border-top: 50px solid #0c264f;
    height: 0px;
    width: 0px;
}

#question {
    height: 60%;
    float: right;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 10px 10px 0 0;
    font-size: 1.2em;
    line-height: 30px;
    color: #0c264f;
}

#question h3 {
    font-size: 1.2em;
    border-radius: 10px 10px 0 0;
    text-shadow: 5px 5px 5px silver;
}

button {
    display: inline;
    width: 40%;
    margin-top: 10px;
    ;
    font-size: 1.1em;
    border: none;
    color: white;
    padding: 8px;
    background-color: #0c264f;
    text-transform: capitalize;
    /*box-shadow: 1px 10px 5px #0c264f;*/
}

#answers button {
    margin-left: 10%;
    display: block;
}

#answers button:first-of-type {
    margin-top: 5%;
}

alert {
    color: red;
}